@import "../css-config/mix-in.scss";
@import "../style.scss";

/*======================= FOOTER =======================*/
.footer{
    background-color:var(--white-color);
    position:relative;
}
.footer__bg{
    background-color: var(--first-color-alt);
    border-radius:var(--border-section);
}

.footer__container{
    padding-block:4rem  7rem;
    row-gap:4.5rem;
    position:relative;
    @include md{
        grid-template-columns: 400px;
        justify-content: center;
    }
    @include lg{
        grid-template-columns: initial;
        justify-content: initial;
        row-gap:6rem;
        padding-block: 6rem 3rem;
    }
}

.footer__data{
    text-align: center;
    row-gap:4.5rem;
    @include lg{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    text-align: initial;
    margin-inline:0;
    }
}

.footer__logo,
.footer__title,
.footer__input,
.footer__description,
.footer__social-link{
    color:var(--white-color);
}

.footer__logo{
    display:inline-flex;
    align-items:center;
    column-gap:0.5rem;
    font-size:var(--h3-font-size);
    font-family: var(--second-font);
    margin-bottom: 1rem;
    
    @include lg{
        margin-bottom:1.5rem;
    }
}

.footer__logo img{
    width: 30px;
    @include lg{
        width: 32px;
    }
}

.footer__title{
    font-size: var(--big-font-size);
    font-family:var(--second-font);
    font-weight:var(--font-regular);
    line-height:120%;
    @include lg{
        font-size: var(--h1-font-size);
    }
}

.footer__form{
    row-gap:1rem;
    @include lg{
        width: 360px;
        row-gap: 1.5rem;
    }
}
.footer__input,
.footer__button{
    border:none;
    outline:none;
    font-family:var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.footer__input{
    width: 100%;
    background: transparent;
    border: 2px solid var(--text-color-light);
    padding:1.15rem 1.5rem;
    border-radius: 4rem;
}

.footer__input::placeholder{
    color: var(--text-color-light);
}

.footer__button{
    padding-block: 1.25rem;
    justify-content: center;
    cursor:pointer;
}

.footer__description{
font-size:var(--small-font-size);
}

.footer__privacy{
    color:var(--second-color);
}

.footer__privacy:hover{
    text-decoration: underline;
}

.footer__content{
    row-gap:2rem;
    @include lg{
        row-gap: 4rem;
    }
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    @include lg{
        column-gap: 3rem;
    }
}
.footer__social-link{
    font-size: 1.25rem;
    transition: color 0.3s;
    @include lg{
        size:1.5rem;
    }
}

.footer__social-link:hover{
color:var(--second-color);
}
.footer__copy{
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
    text-align:center;
}
.footer__bg-img{
position:absolute;
top:0;
left:0;
width: 100%;
height: 100%;
object-fit:cover;
object-position: -172px;
opacity: 0.15;
@include lg{
    object-position: top;
}
}
    