@import "../css-config/mix-in.scss";
@import "../style.scss";
.header{     
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color:var(--first-color);
    z-index: var(--z-fixed);
    transition: background 0.4s,box-shadow 0.4s; 
}

.header__border{
    width:100%;
    height: 2px;
    background-image: linear-gradient(90deg, 
                      var(--text-color-light) 50%,
                      transparent 50% );
    background-size: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
}

.nav{
    height: var(--header-height);
    display: flex;  
    justify-content: center ;
    align-items: center;
    @include sm{
      .nav__logo{
    margin-right: auto;
    }
  }
    @include sm1{
      .nav__logo{
        margin-right: auto;
      }
    }
    @include md{
    .nav__logo{
      margin-right:auto;
    } 
    }

    @include lg{
        height:calc(var(--header-height) + 2rem);
        justify-content: space-between;
.nav__logo{
  margin-right:0;
}

    }
}

.nav__logo{
    color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--h3-font-size);
    font-family: var(--second-font);
    img{
        width: 28px;
        @include lg{
            width: 32px;
        }
    } 
}

.shop__logo{
  cursor: pointer;
  color: var(--second-color);
  position: relative; 
 .s__logo{
  display: absolute;
  font-size:1.75rem;
    
 }
 .shop__num{
  position: absolute;
  min-width: 28px;
  background-color:#F5EEEC;
  text-align: center;
  line-height: 1;
  padding:2.5px;  
  font-size: 17px;
  font-weight: 800;
  top:-5px;
  right: -12px;
  color:#3F3432;
  line-height: auto;
  border-radius: 10px;
}
transition: color 0.3s;
&:hover{
  color:white;
}
  
}

@media screen and (max-width: 1023px){
  
  
  .nav__menu{
        position:fixed;
        bottom:0;
        background:linear-gradient(180deg,
                    var(--first-color) 0%,
                    var(--first-color-alt) 100%);
        border-radius: 56px 56px 0 0;
        box-shadow: 0 -2px 12px hsla(12, 32%, 12%, 0.3);
        width:100%;
        padding: 1.25rem 4rem;
        @include sm{
            padding-inline: 3rem;
        }
        @include md{
            width: 376px;
        }
        @include lg{
            width: initial;
        }
    }
  }



.nav__list{
    display: flex;
    justify-content: space-between;
    @include lg{
        column-gap: 4.5rem;
    }
}

.nav__link{
    color:var(--white-color);
    font-family: var(--second-font);
    font-size: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap:0.25rem;
    transition: color 0.3s;
    .i{
        background: linear-gradient(180deg, 
        hsl(39, 62%, 75%) 0%,
        hsl(39, 62%, 45%) 100%);
        color: var(--second-color);
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 1.5rem; 
        @include lg{
            display: none;
        }
    }
    &:hover{
        color:var(--second-color);
    }
    @include lg{
        font-size: var(--normal-font-size);
    }
}



  

